body.admin {
    background-color: #f0f0f0;
}

.profile-card {
    background-color: #f0f0f0;
    border-radius: 10px;
    padding: 20px;
    width: 90%;
    margin: 0 auto;
    display: flex;
    align-items: center;
}

.profile-image {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-right: 20px;
    flex-shrink: 0;
}

.profile-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.profile-info {
    text-align: left;
    margin-top: 0;
    flex-grow: 1;
}

.profile-info h2 {
    margin-bottom: 5px;
}

.footer {
    text-align: center;
    margin-top: 20px;
    padding: 10px;
    background: #eee;
    border-top: 1px solid #ccc;
}
